html, body {
margin: 0;
padding: 0;
user-select: none;
-webkit-user-select: none;
cursor: default;
-webkit-font-smoothing: antialiased;
background-color: #fff;
}

.home .container {
text-align: center;
height: 90%; 
width:100%;
display:flex;
align-items: center;
justify-content: center;
}

.home .container h1 {
color: #000;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 300;
}

.home .container h1 #w1 {
animation: fade2 2s infinite;
animation-fill-mode: both;
animation-delay: .7s;
}

.home .container h1 #w2 {
animation: fade2 2s infinite;
animation-fill-mode: both;
animation-delay: 1.2s;
}

.home .container h1 #d1 {
animation: fade 2s infinite;
animation-fill-mode: both;
animation-delay: 0ms;
}

.home .container h1 #d2 {
animation: fade 2s infinite;
animation-fill-mode: both;
animation-delay: 1s;
}

@keyframes fade {
0% {
opacity: 0;
}

50% {
opacity: 1;
}

100% {
opacity: 0;
}

}

@keyframes fade2 {
0% {
opacity: .7;
}

50% {
 opacity: 1;
}

100% {
opacity: .7;
}

}

@media (prefers-color-scheme: light) {
html, body {
 background-color: #fff;
}

.home .container h1 {
color: #000
}

}

@media (prefers-color-scheme: dark) {
html, body {
background-color: #000;
}

.home .container h1 {
color: #fff;
}

}