@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';

/* Basic */

	body {
		&:after {
			display: none;
		}
	}

/* Main */

	#main {
		@include vendor('transform', 'none !important');
		opacity: 1 !important;
	}